<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.doit.ik.mapper.ReplyMapper">
   
  <!-- int insert(ReplyVO replyVO); -->
  <insert id="insert">
    INSERT INTO tbl_reply (rno, bno, reply, replyer)
    VALUES (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
  </insert>
  
  <!-- ReplyVO read(Long rno); -->
  <select id="read" resultType="org.doit.ik.domain.ReplyVO">
  	SELECT *
  	FROM tbl_reply
  	WHERE rno = #{rno}
  </select>
  
  <!-- int delete(Long rno); -->
   <delete id="delete">
   	DELETE FROM tbl_reply
   	WHERE rno = #{rno}
   </delete>
   
   <!-- int update(ReplyVO replyVO); -->
   <update id="update">
   	UPDATE tbl_reply
   	SET reply = #{reply}, updatedate = SYSDATE
   	WHERE rno = #{rno}
   </update>
   
   <!-- List<ReplyVO> getListWithPaging(@Param("cri") Criteria cri, @Param("bno") Long bno); -->
   
   <select id="getListWithPaging" resultType="org.doit.ik.domain.ReplyVO">
   	SELECT rno, bno, reply, replyer, replyDate, updateDate
  	FROM tbl_reply
  	WHERE bno = #{bno}
  	ORDER BY rno ASC
   </select>
   
   <!-- int getCountByBno(Long bno); -->
   
   <select id="getCountByBno" resultType="int">
   	<![CDATA[
   		SELECT COUNT(rno)
   		FROM tbl_reply
   		WHERE bno = #{bno}
   	]]>
   </select>
</mapper>  








 